[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/catch2"]
	path = 3rdparty/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "3rdparty/nlohmann_json"]
	path = 3rdparty/nlohmann_json
	url = https://github.com/nlohmann/json.git
